<ion-view view-title="SpyFall">
  <ion-content class="padding">
    <h2 class="center">Bienvenidos a SpyFall</h2>
    <div class="list">
      <div class="item item-image">
        <img src="img/icon.jpg">
      </div>
    </div>
    <p>
      Este es un atrapante y entrenido <strong>Party Game</strong> donde uno de nosotros se convertirá en Espía y deberá tratar de descubrir dónde está el resto. <a href="https://boardgamegeek.com/boardgame/166384/spyfall" target="_blank">Más info sobre el juego y sus autores</a>
    </p>
    <button ui-sref="tab.juego" class="button button-block button-balanced">
      Empezar a Jugar
    </button>
    <button ui-sref="tab.instrucciones" class="button button-block button-positive">
      Instrucciones
    </button>
    <button ui-sref="tab.acerca-de" class="button button-block button-dark">
      Acerca de nosotros
    </button>
  </ion-content>
</ion-view>
