<ion-view view-title="Instrucciones">
  <ion-content class="padding">
    <ol id="instructions">
      <li>Hay <strong>un espía</strong> entre los jugadores.</li>
      <li>El espía no sabe la ubicación donde se encuentran el resto de los jugadores.</li>
      <li>Todos los otros jugadores tienen la misma ubicación.</li>
      <li>Objetivo del espía: Descubrir la ubicación (hay 27 ubicaciones)</li>
      <li>Objetivo de los otros: Encontrar al espía sin que él descubra la ubicación.</li>
      <li>Si el espía descubre la ubicación, gana inmediatamente.</li>
      <li>Un jugador comienza el juego haciendo una pregunta a otra persona (de su elección).</li>
      <li>La única regla que aplica a las preguntas es que puedes hacer sólo una pregunta y no puedes continuar preguntando una vez que el otro jugador ha respondido.</li>
      <li>Puedes responder la pregunta de la forma que prefieras.</li>
      <li>La última persona que respondió es quien hace la siguiente pregunta.</li>
      <li>El resto de los jugadores pueden votar en cualquier momento para decidir quién es el espía, siempre y cuando TODOS los otros jugadores estén de acuerdo.</li>
      <li>Pueden continuar haciendo preguntas mientras tengan tiempo, el espía descubra la ubicación, u otro de los jugadores vote para adivinar quién es el espía.</li>
      <li>Si los otros jugadores no adivinan quién es el espía, el espía gana automáticamente (no necesita saber la ubicación).</li>
    </ol>
  </ion-content>
</ion-view>
