<ion-view view-title="Sobre Nosotros">
  <ion-content class="padding">
    <p>Somos sólo un par de amigos que nos encantó este juego. Luego de una larga jornada jugándolo, nos pareció una buena idea desarrollarlo para dispositivos móviles.</p>
    <div class="list">
      <div class="item item-avatar">
        <img src="img/nahue.png">
        <h2>Nahuel</h2>
        <p>El que tuvo la idea</p>
      </div>

      <div class="item item-avatar">
        <img src="img/rodri.png">
        <h2>Rodrigo</h2>
        <p>El que sabe de compu</p>
      </div>
    </div>

    <p><small>Spyfall is designed by Alexandr Ushan and published by Hobby World</small></p>
  </ion-content>
</ion-view>
