<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Instrucciones" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/instrucciones">
    <ion-nav-view name="tab-instrucciones"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Juego" icon-off="icon-logo" icon-on="icon-logo" href="#/tab/juego">
    <ion-nav-view name="tab-juego"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Acerca De" icon-off="ion-ios-information-outline" icon-on="ion-ios-information" href="#/tab/acerca-de">
    <ion-nav-view name="tab-acerca-de"></ion-nav-view>
  </ion-tab>

</ion-tabs>
